
/* ============================================================
   INDEX – DARK THEME
   ============================================================ */

body.index.dark {
  background-color: #121212; /* Placeholder ohne Airbrush */
  color: #ffffff;
}

body.index.dark header {
  background-image: url("pictures/arabic_FFFFFF.svg");
}
