/* FONTS-------------------------------------------------------------------- */

@font-face {
    font-family: 'migha';
    src: url('fonts/migha/Migha-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blox-brk';
    src: url('fonts/blox-brk/Blox2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'manbow';
    src: url('fonts/manbow/Manbow\ Clear.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
